.tree-view {
    tree_view_background_color: white;

    hover_color: #eee;
    pressed_color: derive(hover_color, -10%);

    cell_selected_color: accent_color;
    cell_selected_hover_color: derive(accent_color, 20%);

    text_color: #111;
    text_selected_color: white;
    text_hover_color: text_color;

    arrow_color: #111;
    arrow__hover_color: text_hover_color;
    arrow_selected_hover_color: text_selected_color;
}