.list-cell:filled:selected:focused,
.list-cell:filled:selected,
.list-cell:even,
.list-cell:odd {
  -fx-background-color: transparent;
}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-view:selected {
  -fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected { 
    -fx-background-color: #CFDED6; 
    -fx-text-fill: white; 
} 

.content{
	-fx-background-color: white;
}

.content:hover{
	-fx-background-color: #E2EBF1;
}

.content:selected{
	-fx-border-color: #AABAC7;
}

.labelColor-add{
	-fx-background-color: #004C84;
}	

.labelColor-delete{
	-fx-background-color: #DD5246;
}	

.image-view-delete {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-löschen-24-gray.png');
}

.image-view-delete:hover {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-löschen-24.png');
}

.image-view-delete:pressed{
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-löschen-24-gray.png');
}

.image-view-zip {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-zip-24-gray.png');
}

.image-view-zip:hover {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-zip-24.png');
}

.image-view-zip:pressed{
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-zip-24-gray.png');
}