.tile-user{
	-fx-background-color: #0174C6;
	-fx-background-radius: 5;
}

.tile-documents{
	-fx-background-color: #81C867;
	-fx-background-radius: 5;
}

.tile-comments{
	-fx-background-color: #F05150;
	-fx-background-radius: 5;
}

.tile-files{
	-fx-background-color: #FFBE4C;
	-fx-background-radius: 5;
}

.tile-mainlabel{
	-fx-text-fill: white;
	-fx-font-size: 14pt ;
	-fx-font-weight: bold;
}

.tile-label{
	-fx-text-fill: white;
	-fx-font-size: 28pt ;
	-fx-font-weight: normal;
}

.tile-white{
	-fx-background-color: white;
	-fx-background-radius: 5;
}