.list-view {
    /* This is a var */
    table_view_border_color: #f4f4f4;
    accent_color: #55A6DD;
    light_accent_color: derive(accent_color, 95%);

    text_color: #111;
    hover_text_color: #111;
    selected_text_color: white;
}

.list-view {
    text_color: #111;

    background_color: white;
    border_color: #111;

    cell_hover_color: #dadada;
    cell_pressed_color: #c2c2c2;

    cell_selected_color: derive(accent_color, 90%);
    cell_selected_hover_color: derive(accent_color, 70%);
    cell_selected_pressed_color: derive(accent_color, 60%);
}