.split-pane{
	-fx-border-color: white;
	-fx-border-radius: 5;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #F0F0F0;
   -fx-background-insets: 0, 0 1 0 1;
}

.hbox{
	-fx-background-color: white;
}