.delete-image-view {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-löschen-24-gray.png');
}

.delete-image-view:hover {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-löschen-24.png');
}

.delete-image-view:pressed{
    -fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-löschen-24-orange.png');
}

.edit-image-view {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-bearbeiten-30.png');
}

.edit-image-view:hover {
	-fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-bearbeiten-30-dark.png');
}

.edit-image-view:pressed{
    -fx-image: url('/de/dc/fx/ui/jregis/metro/ui/images/icons8-bearbeiten-30-blue.png');
}